img {
  height: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.contact-info {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}